<!DOCTYPE html>
<html lang="en">
<style>
  .iframe-container {
		text-align:center;
  		width:100%;
  }
</style>

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fakebro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([


				[{label: 'followers', type: 'string'},
   {label: 'fake followers', type: 'number'},
   {type: 'string', role: 'annotation'}],
  ['followers', {{ follower_count }},  'Annotated'],
  ['Fake followers', {{ fake_count }},  'Annotated'],





        ]);

        var options = {

          is3D: true,

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>

</head>

<body>

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                   How many real followers do you "really"  have?
                </h1>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action=""    method="post" novalidate>
                         {{ form.hidden_tag() }}
                        <div class="field has-addons">
                            <div class="control is-expanded">

                        {{form.ig_username(class="input",max=50)}}
                            </div>
                            <div class="control">
                            {{form.submit(class="button is-info")}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% if fake_count and follower_count %}
    <h2> Fake vs real follower ratio</h2>
    {% endif %}
<div id="piechart_3d" style="width: 900px; height: 500px;"></div>


    <footer class="footer">
    </footer>
{% endblock %}
</body>

</html>